.back {
  margin-top: 99px;
  background-color: #f8f8fa;

  h2 {
    font-weight: 700;
    font-size: 46px;
    line-height: 52px;
    color: #323232;
  }
  p {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #323232;
  }
}
.container {
  padding-top: 110px !important;
  padding-bottom: 150px !important;
}

.start_image_container {
  display: flex;
  justify-content: flex-end;
}
.start_image {
  width: 357px;
  height: 668px;
}
.start_text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;

  margin-bottom: 50px;
}
.arrow {
  position: absolute;
  top: 60%;
  right: 64%;
}

.second_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  margin-bottom: 50px;
}
.second_image {
  width: 518px;
  height: 660px;
}

.third_image {
  width: 347px;
  height: 650px;
  z-index: 1;
}

.dots {
  position: absolute;
  z-index: 0;
  left: 30%;
}
.item_container {
  padding-left: 3rem !important;
}

@media (max-width: 1174px) {
  .start_image {
    width: 267px;
    height: 500px;
  }
  .second_image {
    width: 400px;
    height: 510px;
  }
  .third_image {
    width: 262px;
    height: 490px;
  }
  .dots {
    left: 20%;
  }
  .arrow {
    width: 175px;
    height: 141px;
    right: 58%;
  }

  .back {
    h2 {
      font-size: 41px;
    }
    p {
      font-size: 15px;
    }
  }
}

@media (max-width: 1078px) {
  .start_image {
    width: 240px;
    height: 450px;
  }
  .second_image {
    width: 353px;
    height: 450px;
  }
  .third_image {
    width: 203px;
    height: 380px;
  }
  .dots {
    left: 20%;
  }

  .back {
    h2 {
      font-size: 39px;
    }
    p {
      font-size: 18px;
    }
  }
}

@media (max-width: 768px) {
  .start_image_container {
    justify-content: center;
    order: 2 !important;
  }
  .start_text {
    align-items: center;
    text-align: center;
    order: 1 !important;
  }
  .second_text {
    align-items: flex-start;
    margin: 0;
  }
  .second_image_container {
    display: flex;
    justify-content: center;
  }
  .third_text {
    align-items: flex-start;
  }
  .container {
    padding-top: 55px !important;
    padding-bottom: 75px !important;
  }
  .dots {
    display: none;
  }
  .arrow {
    display: none;
  }
  .item_container {
    padding-left: 0px !important;
  }
}
