.logo {
  width: 145px;
  height: 61px;
}

.nav_text {
  color: #323232;
  font-weight: 500;
  font-size: 18px !important;
  margin: 0px 10px !important;
  line-height: 22px;
}
.nav_button {
  background: #6275f6;
  border-radius: 9px;
  color: #ffff;
  padding: 13px 18px !important;
  margin-left: 30px;

  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
}

.container_wrapper {
  padding: 0px 120px;
  height: 80px;
}

@media (max-width: 1134px) {
  .text_collapse {
    display: none;
  }
}
@media (max-width: 690px) {
  .container_wrapper {
    padding: 0px 60px;
  }
}
@media (max-width: 450px) {
  .container_wrapper {
    padding: 0px 10px;
    height: 45px;
  }
  .nav_button {
    padding: 9px 14px !important;
    margin-left: 30px;

    font-size: 11px;
  }
  .logo {
    width: 125px;
    height: 41px;
  }
}
