.container {
  margin-top: 80px;
  .title_container {
    h2 {
      font-weight: 700;
      font-size: 46px;
      line-height: 52px;
      color: #323232;
      padding-bottom: 12px;
    }
    p {
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: #323232;
    }
  }
}

@media (max-width: 1174px) {
  .container {
    .title_container {
      h2 {
        font-size: 41px;
      }
      p {
        font-size: 15px;
      }
    }
  }
}
@media (max-width: 1078px) {
  .container {
    .title_container {
      h2 {
        font-size: 39px;
      }
      p {
        font-size: 13px;
      }
    }
  }
}

.back_left {
  position: absolute;
  z-index: 3;
  top: 0;
  width: 25%;
  height: 100%;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 30%,
    rgba(255, 255, 255, 0) 100%
  );
}
.back_right {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 75%;
  width: 25%;
  height: 100%;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 70%,
    rgba(255, 255, 255, 1) 100%
  );
}

.comments_container {
  height: 400px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 0, 0, 0) 50%,
    rgba(255, 255, 255, 1) 100%
  );
  z-index: 1;
  position: relative;
}
.swiper {
  width: 100%;
  height: 100%;
}
.slide_container {
  display: flex;
  justify-content: center;
}
.swiper_slide {
  margin-top: 56px;
  z-index: 3;

  height: 261px !important;
  background: #ffffff;
  box-shadow: 0px 18px 34px 13px rgba(56, 61, 71, 0.11);
  border-radius: 9px;
  padding: 40px 70px 56px 70px;

  .stars {
    margin-bottom: 15px;
  }
  p {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #323232;
    margin-bottom: 15px;
  }
  .comment_text {
    height: 100px;
    display: flex;
    align-items: center;
  }
  .commentor {
    display: flex;
    img {
      width: 47px;
      height: 47px;
      margin-right: 12px;
    }
    .commentor_name {
      font-weight: 700;
      font-size: 17px;
      line-height: 21px;
      color: #1c1c1c;
      margin-top: 6px;
      margin-bottom: 0;
    }
    .commentor_position {
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      color: #1c1c1c;
      opacity: 0.6;
    }
  }
}

@media (max-width: 1324px) {
  .comments_container {
    height: 470px;
  }
  .swiper_slide {
    height: 351px !important;

    .comment_text {
      height: 190px;
    }
  }
}
@media (max-width: 1124px) {
  .comments_container {
    height: 470px;
  }
  .swiper_slide {
    height: 351px !important;
    width: 60% !important;

    .comment_text {
      height: 190px;
    }
  }
}
@media (max-width: 1024px) {
  .comments_container {
    height: 500px;
  }
  .swiper_slide {
    padding: 50px 20px 36px 20px;
    height: 331px !important;
    width: 60% !important;

    .comment_text {
      height: 160px;
    }
    p {
      font-size: 18px;
    }
    .commentor {
      .commentor_name {
        font-size: 16px;
      }
      .commentor_position {
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 560px) {
  .swiper {
    height: 430px;
  }
  .star {
    width: 16px;
    height: 16px;
  }

  .swiper_slide {
    padding: 50px 20px 36px 20px;
    height: 271px !important;
    width: 80% !important;

    .comment_text {
      height: 100px;
    }

    p {
      font-size: 16px;
    }
    .commentor {
      .commentor_photo {
        width: 47px;
        height: 47px;
      }
      .commentor_name {
        font-size: 15px;
      }
      .commentor_position {
        font-size: 12px;
      }
    }
  }
  .back_left {
    display: none;
  }
  .back_right {
    display: none;
  }
}
