.text_section {
  height: 500px;
  flex-direction: column;

  h3 {
    color: #6275f6;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
  }

  h1 {
    color: #323232;
    font-weight: 700;
    font-size: 56px;
    line-height: 62px;
  }

  p {
    margin-top: 16px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #323232;
  }
}
.container {
  width: auto;
  margin: 50px 80px 50px 243px !important;
}

.dots {
  position: absolute;
  z-index: -1;
  top: 100px;
  right: 30%;
}

.image {
  height: 514px;
  width: 625px;
  margin: 0 auto;
  background-image: url("../../../../assets/images/chat_main.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.buttons_container {
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.start_button {
  text-decoration: none;
  cursor: pointer;
  background: #6275f6;
  border-radius: 9px;
  color: #ffff;
  padding: 13px 21px !important;

  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  &:hover {
    color: #fff;
  }
}

.info_button {
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #6275f6;
  padding: 13px 18px !important;
  border-radius: 9px;
  margin-left: 18px;

  color: #6275f6;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
}

@media (max-width: 1642px) {
  .container {
    margin: 50px 123px !important;
  }
  .image {
    height: 444px;
    width: 565px;
  }
}

@media (max-width: 1260px) {
  .text_section {
    h3 {
      font-size: 30px;
    }
    h1 {
      font-size: 54px;
    }
    p {
      font-size: 16px;
    }
  }
  .container {
    margin: 50px 103px !important;
  }
  .dots {
    right: 25%;
  }
  .image {
    height: 404px;
    width: 525px;
  }
}

@media (max-width: 1020px) {
  .dots {
    right: 15%;
    top: 120px;
  }
  .image {
    height: 364px;
    width: 485px;
  }
}

@media (max-width: 992px) {
  .dots {
    right: 15%;
    top: 120px;
  }
  .image {
    height: 444px;
    width: 565px;
  }
  .text_section {
    h3 {
      font-size: 26px;
    }
    h1 {
      font-size: 50px;
    }
    p {
      font-size: 12px;
    }
  }
}

@media (max-width: 680px) {
  .image_container {
    padding-left: 0px;
  }
  .image {
    height: 294px;
    width: 380px;
  }
  .container {
    margin: 0px 43px !important;
  }
  .text_section {
    height: 300px;
    margin-top: 40px;
    justify-content: flex-start !important;
    h3 {
      font-size: 16px;
      line-height: 9px;
    }
    h1 {
      font-size: 35px;
      line-height: 40px;
      margin: 0;
    }
    p {
      font-size: 12px;
    }
  }
  .start_button {
    font-size: 12px;
    line-height: 18px;
  }

  .info_button {
    font-size: 12px;
    line-height: 18px;
  }
}

@media (max-width: 425px) {
  .container {
    margin: 0px 23px !important;
  }
  .image {
    height: 254px;
    width: 310px;
  }
}
