.container {
  margin-top: 118px;
  padding: 0px 90px;
}

.item_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;

  .title {
    color: #323232;
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
  }
  .text {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #323232;
  }
  i {
    margin: 20px 8px;
  }
  .icons {
    margin: 20px 0px;
  }
}

@media (max-width: 680px) {
  .container {
    margin-top: 59px;
  }
  .item_container {
    h5 {
      font-size: 14px;
    }
    p {
      font-size: 10px;
    }
  }
}

.puzzle {
  height: 46px;
}
