.container {
  margin-top: 100px;
}
.image {
  height: 659px;
  width: 1057px;
  margin: 0 auto;
  z-index: 1;
}

.title_container {
  h2 {
    font-weight: 700;
    font-size: 46px;
    line-height: 52px;
    color: #323232;
    padding-bottom: 12px;
  }
  p {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #323232;
  }
}

@media (max-width: 1174px) {
  .title_container {
    h2 {
      font-size: 41px;
    }
    p {
      font-size: 15px;
    }
  }
  .image {
    height: 459px;
    width: 857px;
  }
}
@media (max-width: 1078px) {
  .title_container {
    h2 {
      font-size: 39px;
    }
    p {
      font-size: 13px;
    }
  }
}
@media (max-width: 768px) {
  .image {
    height: 329px;
  }
}

@media (max-width: 568px) {
  .image {
    height: 100%;
  }
}
